body{
    background-color: rgb(92, 90, 148);
    color: white;
}
button:hover{
    font-size: 1rem;
}
fieldset{
    height: 70vh;
}
figcaption{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 10%;
}
#powerstats{
    float: right;
    margin-right: 7%;
}
img{
    height: 40%;
    width: 40%;
}
main{
    float: left;
    width: 60vw;
    height: 50vh;
}
img{
    height: 20%;
    width: 20%;
}